<launch4jConfig>
  <headerType>gui</headerType>
  <jar>../out/artifacts/Juicebox_jar/Juicebox.jar</jar>
  <outfile>Juicebox.exe</outfile>
  <errTitle>Juicebox</errTitle>
  <chdir>.</chdir>
  <icon>Juicebox.ico</icon>
  <restartOnCrash>true</restartOnCrash>
  <jre>
    <minVersion>1.6.0</minVersion>
    <runtimeBits>64</runtimeBits>
    <maxHeapSize>2000</maxHeapSize>
  </jre>
  <splash>
    <file>juicebox.bmp</file>
    <waitForWindow>true</waitForWindow>
    <timeout>60</timeout>
    <timeoutErr>true</timeoutErr>
  </splash>
</launch4jConfig>
